.contrainer {
    display: flex;
    border-style: solid;
    border-color: brown;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 350px;
    height: 350px;
}

.items {
    background-color: aqua;
    margin: 10px;
    text-align: center;
    width: 200px;
}